.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-subtitle);
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.task-header h1 {
  font-size: 25px;
  font-weight: bold;
  color: var(--color-light);
}



