.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-subtitle);
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.task-header h1 {
  font-size: 25px;
  font-weight: bold;
  color: var(--color-light);
}

.task-header a {
  border: 0;
  padding: 15px 25px 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: var(--color-content);
  display: flex;
  background-color: var(--background-light);
  border-radius: 5px;
  box-shadow: 4px 4px 0px var(--color-content);
  transition: /*transform 200ms, box-shadow 200ms, */all 0.17s ease;
}

.task-header a:hover {
  background-color: var(--color-success);
  color: var(--color-light);
  box-shadow: 4px 4px 0px var(--background-success);
}

.task-header a:active {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px 0px var(--background-success);
}
