<div>
  <div class="task-panel">
    <app-form (onAddTask)="addTask($event)"></app-form>
    <div *ngIf="tasks === undefined || tasks.length == 0; then showEmpty else showTasks"></div>
    <ng-template #showEmpty>
      <div class="task-empty">
        <i class="fa-solid fa-face-meh"></i>
        <p>The task list is empty.</p>
      </div>
    </ng-template>
    <ng-template #showTasks>
      <app-item
      *ngFor="let task of tasks"
      [task]="task"
      (onDeleteTask)="deleteTask(task)"
      (onChangeReminderTask)="changeReminderTask(task)"
    >
    </app-item>
    </ng-template>
    
  </div>
</div>
