.task-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px 15px 0px 15px;
  background-color: var(--color-light);
}

.task-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 30px 15px;
    color: var(--color-subtitle);
}

.task-empty i{
    font-size: 65px;
    margin-bottom: 15px;
}

.task-empty p{
    font-weight: 700;
}
